@import "tailwindcss";

@font-face {
    font-family: 'samim';
    src: url('./assets/fonts/Samim.ttf');
}

*{
    font-family: 'samim';
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}  

@layer components {
    .alert-validate {
        @apply text-red-500;
    }
}

@layer utilities {
    .rounded_b_r {
        border-bottom-right-radius: 10px;
    }
}
